body, html {
	margin: 0;
	padding: 0;
}

.large-bucket {
	padding: 1rem;
	border-radius: 20px;
	width: 100%;
	position: relative;
}

.large-bucket p {
	width: 100%;
	padding: 0.75rem 0;
	font-size: 0.75rem;
	padding-left: 1rem;
	bottom: 0;
	margin:0;
	margin-bottom: 0.75rem;
	color: #000;
	font-weight: 800;
	position: absolute;
	background-color: rgba(255,255,255,0.75);
	font-family: Helvetica, sans-serif;
}

.promo-large {
	padding-top: 10rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-moz-transition: padding-top 500ms linear;
	-ms-transition: padding-top 500ms linear;
	transition: padding-top 500ms linear;
	-webkit-transition: padding-top 500ms linear;
}


@media only screen and (min-width: 30em) {
	.promo-large {
		padding-top: 20rem;
	}
}

@media only screen and (min-width: 60em) {
	.promo-large {
		padding-top: 35rem;
	}
}

.side-img {
	display: none;
}

.small-bucket {
	background-color: #DDD;
	max-width: 300px;
	padding: 0.75rem;
	border-radius: 10px;
}

@media only screen and (min-width: 60em) {
	.side-img {
		display: block;
		padding: 0 10% 0.5rem;
	}
	.large-bucket p {
		margin-top: -3rem;
		font-size: 1.2rem;
	}
}