.large-bucket {
	width: 70%;
	display: inline-block;
}

.large-bucket-bg {
	background-color: #DDD;
	padding: 0.5rem;
}

.side-bar {
	width: 28%;
	margin-left: 1%;
	display: inline-block;
}

.side-image {
	margin: 0 1%;
}

.small-bucket {
	background-color: #DDD;
	max-width: 300px;
	padding: 0.5rem;
}

.small-bucket img,
.small-bucket p {
	max-width: 300px;
}