.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #000;
	background-image: linear-gradient(to bottom, #000, #111);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	border: 0;
	color: #fff;
	font-weight: bold;
	overflow: hidden;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #009;
	background-image: linear-gradient(to bottom, #900, #900);
}

.btn:hover {
	background-image: linear-gradient(to bottom, #000, #555);
}

.btn-alt:hover {
	background-image: linear-gradient(to bottom, #900, #C00);
}

.checkout-1 {
	float: right;
	margin: 1rem 0;
	margin-right: 10%;
}