html, body {
	padding: 0;
	margin: 0;
}

footer {
	width: 100%;
	background-color: #090;
	overflow: hidden;
}

.logo-foot {
	float: left;
	width: 50px;
	margin: 0.5rem;
}

.menu {
	width: 40%;
	margin: 1.5rem auto 0;
	position: absolute;
	font-size: 0.5rem;
	left: 20%;
	text-align: left;
}

.menu li {
	display: inline-block;
	color: #fff;
	margin: 0 0.75%;
}

.menu a,
.menu a:visited,
.menu a:active {
	text-decoration: none;
}

.menu a,
.menu a:link {
	border-bottom: none;
}

.menu a:nth-child(1n+2):before {
	content: "|";
	color: #000;
	pointer-events: none;
}

.right p {
	float: right;
	margin-right: 5%;
	margin-top: 1.5rem;
	font-size: 0.5rem;
}

@media only screen and (min-width: 45em) {
	.menu {
		width: 100%;
		font-size: 0.75rem
	}
	.right p {
		font-size: 0.75rem;
	}
}

@media only screen and (min-width: 60em) {
	.menu {
		text-align: center;
		left: 0;
		font-size: 1rem;
	}
	.right p {
		font-size: 1rem;
	}
}