footer {
	width: 100%;
	background-color: #090;
	overflow: hidden;
}

.left {
	position: absolute;
	margin-left: 2%;
	z-index: 5;
	margin-top: 1rem;
	width: 40%;
}

.social {
	display: inline-block;
	width: 35px;
	margin: 0 1% 0;
}

.nav-bottom {
	width: 100%;
	text-align: center;
	margin-top: 1.5rem;
	position: absolute;
	font-size: 0.5rem;
	z-index: 0;
}

.nav-bottom li {
	display: inline-block;
	margin: 0 1%;
}

.nav-bottom li a {
	color: #fff;
	font-family: Helvetica, sans-serif;
}

.nav-bottom a,
.nav-bottom a:visited,
.nav-bottom a:active {
	text-decoration: none;
}

.nav-bottom a,
.nav-bottom a:link {
	border-bottom: none;
}

.nav-bottom li:nth-child(1n+2):before {
	content: "|";
	color: #FFF;
	margin-left: 5%;
	pointer-events: none;
}

.right p {
	float: right;
	margin-right: 5%;
	margin-top: 1.5rem;
	font-size: 0.5rem;
	color: #fff;
}

@media only screen and (min-width: 30em) {
	.nav-bottom {
		font-size: 0.75rem;
		margin-top: 1.5rem
	}
	.right p {
		font-size: 0.75rem;
		margin-top: 1.5rem;
	}
	.social {
		width: 50px;
	}
	.left {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 60em) {
	.nav-bottom {
		font-size: 1rem;
	}
	.right p {
		font-size: 1rem;
	}
}