html, body {
	padding: 0;
	margin: 0;
}

footer {
	width: 100%;
	background-color: #090;
	overflow: hidden;
}

.left {
	position: absolute;
}

.social {
	display: inline-block;
	width: 35px;
	border-radius: 25px;
	margin: 0.5rem 0.25rem 0;
}

.nav-bottom {
	width: 40%;
	margin-top: 1rem;
	position: absolute;
	font-size: 0.5rem;
	margin-left: 30%;
}

.nav-bottom li {
	display: inline-block;
	margin: 0 3%;
}

.nav-bottom li a {
	color: #fff;
	font-family: Helvetica, sans-serif;
}

.nav-bottom a,
.nav-bottom a:visited,
.nav-bottom a:active {
	text-decoration: none;
}

.nav-bottom a,
.nav-bottom a:link {
	border-bottom: none;
}

.nav-bottom li:nth-child(1n+2):before {
	content: "|";
	color: #000;
	pointer-events: none;
}

.right p {
	float: right;
	margin-right: 5%;
	margin-top: 1rem;
	font-size: 0.5rem;
}

@media only screen and (min-width: 45em) {
	.nav-bottom {
		font-size: 0.75rem;
		margin-left: 25%;
		margin-top: 1.5rem
	}
	.right p {
		font-size: 0.75rem;
		margin-top: 1.5rem;
	}
	.social {
		margin-top: 0.75rem;
		width: 50px;
	}
}

@media only screen and (min-width: 60em) {
	.nav-bottom {
		font-size: 1rem;
	}
	.right p {
		font-size: 1rem;
	}
}