header {
	padding: 0;
	margin: 0 0 4.5rem;
	width: 100%;
	background-color: rgba(0,153,0,0.5);
	overflow: hidden;
	display: inline-block;
}

header h1 {
	font-size: 1.5rem;
	margin-top: 2rem;
}

.logo {
	float: left;
	margin: 0.5rem;
	width: 5rem;
}

.main-title {
	width: 100%;
	position: absolute;
	text-align: center;
}

.search {
	float: right;
	top: -1.5rem;
	display: inline-block;
}

/* ----------------------------- NAV */

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	position: absolute;
	overflow: hidden;
	top: 60px;
	right: 2.5%;
	height: 30px;
	width: 30px;
	background: transparent url(../images/nav-icon.svg) no-repeat 0 0;
	opacity: 0.5;
	border-bottom: none;
}

.nav-top {
	font-size: 0.5rem;
	display: block;
	max-height: 0;
	overflow: hidden;
}

.nav-btn[data-state="active"] {
	background-position: -31px 0;
}

.nav-top[data-state="expanded"] {
	max-height: 14rem;
}

.btn-alt-header {
	display: block;
	padding: 0.5rem 1rem;
	background-color: #009;
	background-image: linear-gradient(to bottom, #009, #007);
	color: #fff;
	font-weight: bold;
	width: 100%;
	margin: 0;
}

.nav {
	display: block;
	position: absolute;
	text-align: center;
	top: 6rem;
	width: 25%;
	right: 0;
	padding: 0;
}

/* ------------------------------------------ Media queueries */

@media only screen and (min-width: 60em) {
	.nav-top {
		font-size: 1rem;
		display: inline-block;
		max-height: 14rem;
	}
	header h1 {
		font-size: 3rem;
		margin-top: 0.75rem;
	}
	.nav {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		width: 0px;
	}
	.btn-alt-header {
		display: inline-block;
		border: none;
		width: 24%;
	}
}