header {
	padding: 0;
	margin: 0 0 3rem;
	width: 100%;
	background-color: rgba(0,153,0,0.5);
	overflow: hidden;
	display: inline-block;
}

.logo {
	float: left;
	margin: 0.5rem;
	width: 5rem;
}

.main-title {
	width: 100%;
	position: absolute;
	text-align: center;
}

.search {
	float: right;
	top: -1.5rem;
	display: inline-block;
}

.menu-top {
	position: absolute;
	top: 6rem;
	width: 100%;
	padding: 0;
	margin: 0;
}

.btn-alt-header {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: #009;
	background-image: linear-gradient(to bottom, #009, #007);
	color: #fff;
	font-weight: bold;
	width: 24%;
	margin: 0 0.25%;
}

@media only screen and (min-width: 60em) {
	
}