.media {
	overflow: hidden;
}

.media-img {
	float: left;
	margin: 0 10px 0 0;
}

.media-img-reversed {
	float: right;
	margin: 0 0 0 10px;
}

.media-img-stacked {
	float: none;
	margin: 0;
}

.media-body {
	overflow: hidden;
}

.media-body p {
	margin: 0;
}

.cart {
	margin-top: 1.5rem;
}

.cart-price {
	font-family: Helvetica, sans-serif;
	font-size: 1.5rem;
	float: right;
}

.cart-totals {
	margin-top: 1rem;
	font-family: Helvetica, sans-serif;
	font-size: 1.5rem;
	text-align: right;
	width: 90%;
}