/*
  Colour Palette
  - Dark grey - #404040 - rgb(64,64,64)
  - Dark green #090 - rgb(0,153,0)
  - Dark blue - #009 - rgb(0,0,153)
  - Dark red - # 900 - rbg(153,0,0)
 */

html {
  font: normal 100%/1.5 Georgia,serif; /* 16px/24px */
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  color: #900;
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.2583;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.1796;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.4746;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.2288;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.5360;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.9200;
}

h5, .mega {
  font-size: 1.2500rem;
  line-height: 1.2000;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.8750;
}

.micro {
  font-size: 0.6400rem;
  line-height: 2.3438;
}

a, a:link {
	color: #rgba(0,0,153,0.5);
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,0,153,0.5);
	transition: all 250ms linear;
}

a:visited {
	color: rgba(0,153,0,0.5);
	border-bottom-color: rgba(0,153,0,0.5);
}

a:hover,
a:focus,
a:active {
	color: #009;
	border-bottom-color: rgba(0,0,153,1);
}

ul {
	list-style-type: none;
}

ul li {
	position: relative;
}

ul li:before{
	content: "• ";
	color: #090;
	position: absolute;
	left: -1em;
}

/*  a, em, strong, i, b, small, s, cite, q, dfn, abbr, time, 
sup, sub, mark, del, ins, data table, th, td, caption  */

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0.5rem;
	text-align: center;
}

blockquote p {
	position: relative;
}

blockquote p:before {
	content: "“";
	color: #000;
	font-size: 3rem;
	position: absolute;
	left: -0.5em;
	top: -0.5em;
}

blockquote p:after {
	content: "”";
	color: #000;
	font-size: 3rem;
	position: absolute;
	right: -0.5em;
	top: 1em;
}

sub, sup {
	font-weight: bold;
	font-family: sans-serif;
}

dt {
	font-size: 1.25rem;
}

cite {
	font-size: 1.25rem;
	font-weight: bold;
}

caption {
	font-family: Helvetica, sans-serif;
	margin-bottom: 0.5rem;
}

small {
	font-size: 0.875rem;
	line-height: 1rem;
}

ins {
	padding: 0 0.25rem;
	background-color: yellow;
}

del {
	padding: 0 0.25rem;
	background-color: #f00;
	color: #fff;
}

mark {
	padding: 0 0.25rem;
	background-color: #090;
	color: #fff;
}

hr {
	border: 3px single rgba(0,153,0,0.5);
}

q:before,
q:after {
	content: none;
}

i {
	font-style: normal; /* i tag is used for icons, not italics, refer to <em> */
}

b {
	font-weight: normal; /* b tag is not for bold, refer to <strong> */
}