/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
 */

html {
  font: normal 100%/1.5 Georgia,serif; /* 16px/24px */
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 0 0 1.5rem;
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.2583;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.1796;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.4746;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.2288;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.5360;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.9200;
}

h5, .mega {
  font-size: 1.2500rem;
  line-height: 1.2000;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.8750;
}

.micro {
  font-size: 0.6400rem;
  line-height: 2.3438;
}


a, a:link {
	color: #666;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,0,0,0.5);
	transition: all 250ms linear;
}