# Accessibility Testing Report

User testing was conducted by {David} on {04/04/14} between the times of {15:45} and {17:00} with the following participants:

Tab
- {David Birch}
- {}
- {}
Voice Over
- {Sebastian Nadeau}
- {David Birch}
- {}

## Tasks

1. {Adding the Cinelli Laser frame to the cart and check out}
2. {Find out what the business is about}
3. {Search for Frames and go to the Cervelo T1 frames page}

---

## Individual Results & Observations

### {Sebastian Nadeau}

- {Only completed the about page task}
- {noticed the nav options werent named}

### {David Birch Tab}

- {Completed the tasks easy enough}

### {David Birch VO}

- {Found it difficult to navigate through the navigation menu}
- {The products themselves werent being called out}

### {}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Product names called out on voiceover}
- {Navigation menu needs to be voiced out}

### Serious, Causes Frustration, May Hinder Completion

- {}

### Minor, Annoying, Won’t Hinder Completion

- {}