# Accessibility Testing Report

User testing was conducted by {David} on {04/04/14} between the times of {14:30} and {15:00} with the following participants:

- {Sebastian Nadeau}
- {Columbina }
- {Jordan Doe}

## Tasks

1. {Adding the Cinelli Laser frame to the cart and check out}
2. {Find out what the business is about}
3. {Search for Frames and go to the Cervelo T1 frames page}

---

## Individual Results & Observations

### {Sebastian Nadeau}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {John Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Jordan Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.