---
layout: default
toptitle: Home
metadesc: Find the bike you're looking for
metakey: bike, bicycle, buy, new
---

<main role="main">
	<div class="grid">
		<div class="large-bucket unit unit-s-1 unit-m-1 unit-l-1">
			{% include promo-large.html image="front-image.jpg" desc="Come check out our new inventory today!" %}
		</div>
		<div class="unit gutter-half unit-s-1 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html title="Specialized Trispoke" price="$600  <s>$700</s>" info="On sale until 03/31/14" image="wheels/trispoke.jpg" alt="Trispoke wheel" link="trispoke" %}
		</div>

		<div class="unit gutter-half unit-s-1 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html title="Look 496" price="$2600  <s>3000</s>" info="On sale until 03/31/14" image="frames/look.jpg" alt="Look 496 frame" link="look" %}
		</div>

		<div class="unit gutter-half unit-s-1 unit-m-1-2 unit-l-1-3">
			{% include promo-small.html title="Corima Front Wheel" price="$1065  <s>$1200</s>" info="On sale until 03/31/14" image="wheels/corima.jpg" alt="Corima front wheel" link="corima" %}
		</div>
	</div>
</main>