# User Testing Report

User testing was conducted by {David Birch} on {Friday March 28, 2014} between the times of {2:30PM} and {end 3:00PM} with the following participants:

- {Sebastian Nadeau}
- {}
- {}

## Tasks

1. {Adding the Cinelli Laser frame to the cart and check out}
2. {Find out what the business is about}
3. {Search for Frames and go to the Cervelo T1 frames page}

---

## Individual Results & Observations

### {Sebastian Nadeau}

- {Set page to mobile to start}
- {went to products, clicked on frames, found the Cinelli}
- {Found it odd that the button said Buy now rather than Add to Cart, requested a hover state}
- {Found the About page quickly}
- {The search field	isnt optimized for mobile, cant see text typed in}

### {}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.