# User Testing Report

User testing was conducted by {David Birch} on {Friday March 28, 2014} between the times of {2:30PM} and {end 3:00PM} with the following participants:

- {Sebastian Nadeau}
- {Stacey Cowan}
- {Thomas Bradley}

## Tasks

1. {Adding the Cinelli Laser frame to the cart and check out}
2. {Find out what the business is about}
3. {Search for Frames and go to the Cervelo T1 frames page}

---

## Individual Results & Observations

### {Sebastian Nadeau}

- {Set page to mobile to start}
- {went to products, clicked on frames, found the Cinelli}
- {Found it odd that the button said Buy now rather than Add to Cart, requested a hover state}
- {Found the About page quickly}
- {The search field	isnt optimized for mobile, cant see text typed in}

### {Stacey Cowan}

- {User had no issue finding any task}

### {Thomas Bradley}

- {Tried to click on the logo 3 times, without realizing it doesn't work}
- {Wasn't sure which logo was the products page, but guessed}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {N/A}

### Serious, Causes Frustration, May Hinder Completion

- {Mobile site has issues searching}

### Minor, Annoying, Won’t Hinder Completion

- {A better logo for the products page}