<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>{{page.toptitle}} · Bikes 'n Stuff</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="{{page.metadesc}}">
	<meta name="keywords" content="{{page.metakey}}">
	<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buckets.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
</head>
<body>

<header>
	<img class="logo" src="http://placehold.it/100x100" alt="logo">
	
	<h1 class="main-title"><a href="{{site.baseurl}}/">Company Name</a></h1>

	<div class="search">
		<form method="get" action="{{site.baseurl}}/search/" class="search-form">
		  	<div class="search-field-container">
		    	<input type="text" class="search-field" placeholder="Search..." />
		  	</div>  
		</form>
	</div>

	<a class="nav-btn hide-text" href="">Navigation</a>

	<ul class="nav nav-top">
		<li class="btn-alt-header {% if page.url == '/' %}current{% endif %}"><a href="{{site.baseurl}}/">Home</a></li>
		<li class="btn-alt-header {% if page.url == '/products/' %}current{% endif %}"><a href="{{site.baseurl}}/products/">Products</a>
			<ul>
				<li class="btn-sub-nav {% if page.url == '/products/frames/' %}current{% endif %}"><a href="{{sitebase.url}}/products/frames">Frames</a></li>
				<li class="btn-sub-nav {% if page.url == '/products/wheels/' %}current{% endif %}"><a href="{{sitebase.url}}/products/wheels">Wheels</a></li>
			</ul>
		</li>
		<li class="btn-alt-header {% if page.url == '/cart/' %}current{% endif %}"><a href="{{site.baseurl}}/cart/">Cart</a></li>
		<li class="btn-alt-header {% if page.url == '/about/' %}current{% endif %}"><a href="{{site.baseurl}}/about/">About</a></li>
		<li class="btn-alt-header search-nav"><a href="#">Search</a></li>
	</ul>

</header>

{% if page.showbanner %}
	<div class="banner">
  		<h2>{{page.bannertext}}</h2>
	</div>
{% endif %}

{{content}}

<footer>
	<div class="left">
		<img class="social" src="http://placehold.it/100x100&text=Logo" alt="">
		<img class="social" src="http://placehold.it/100x100&text=Logo" alt="">
		<img class="social" src="http://placehold.it/100x100&text=Logo" alt="">
	</div>
	<ul class="nav-bottom">
		<li><a href="{{site.baseurl}}/">Home</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Policies</a></li>
		<li><a href="{{site.baseurl}}/about/">About</a></li>
	</ul>
	<div class="right">
		<p>© Company Name 2014</p>
	</div>
</footer>
  
</body>
</html>